// Заголовки, загальні БЕМ блоки та інше...
.section-header {
  //.section-header__text
  &__label {
    line-height: math.div(31, 25);
    font-style: normal;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: em(32, 25);
    }
  }

  //.section-header__title
  &__title {
    color: $darkColor;
    @include adaptiveValue("font-size", 60, 35);
    line-height: math.div(75, 60);
    font-weight: 700;
    max-width: toRem(465);

    &:not(:last-child) {
      margin-bottom: em(45, 60);

      @media (min-width:$mobile) {
        margin-bottom: em(132, 60);
      }
    }

    &_big {
      max-width: toRem(890);
    }
  }

  //.section-header__text
  &__text {
    line-height: math.div(45, 25);
    max-width: toRem(540);
  }

  &_lite {
    .section-header__text {
      color: #E3E6EC;
    }

    .section-header__title {
      color: #FFF;
    }
  }
}

//==============================================================

.text {
  line-height: math.div(45, 25);
}

//==============================================================

.title {
  font-weight: 700;
  @include adaptiveValue("font-size", 30, 20);
  font-size: toRem(30);
  line-height: math.div(38, 30);
  color: $darkColor;
}

//==============================================================

.services {
  display: grid;
  @include adaptiveValue("gap", 60, 30);

  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 50, 10);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__icon {
    flex: 0 0 toRem(60);
    height: toRem(60);
    img {
      max-width: 100%;
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 15);
    }
  }
}

//==============================================================














