@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Quicksand";
$fontSize: toRem(25); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #6A6E77; // Колір шрифту за замовчуванням
$darkColor: #1C1F25;

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 0;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 480;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  // Скролл заблоковано
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  // Сайт завантажений
  .loaded & {
  }

  @include adaptiveValue("font-size", 25, 18);
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }

  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Чуйна
  [class*="__container"] {
    flex-grow: 1;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      } @else {
        @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
        @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
      }
    }
  }
} @else {
  // Брейк-поїнтами
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
    @media (max-width: $tablet) {
      max-width: toRem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
  }
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

//=====================================
.page {
  counter-reset: item;

  &__section {
    &::after {
      position: absolute;
      top: 50%;
      color: #E3E6EC;
      font-weight: 700;
      @include adaptiveValue("font-size", 60, 25);
      transform: translate(50%, -50%);
      @include adaptiveValue("right", 120, 7.5);
      counter-increment: item;
      content: counter(item, decimal-leading-zero);

      @media (max-width: $mobile) {
        top: toRem(20);
        right: 50%;
      }
    }
  }
}

//======================================

.screen-01 {
  &__container {
    min-height: 100%;
    display: flex;


    @media (min-width: $mobile) {
      align-items: center;
      padding-top: toRem(20);
      padding-bottom: toRem(20);
      justify-content: center;

    }

    @media (max-width: $mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__body {
    flex-grow: 1;
    position: relative;
    padding-top: toRem(155);
    padding-bottom: toRem(155);
    @include adaptiveValue("padding-top", 155, 50);
    @include adaptiveValue("padding-bottom", 155, 50);
    @include adaptiveValue("padding-left", 240, 15);
    @include adaptiveValue("padding-right", 240, 15);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(28, 31, 37, 0.60);
      @media (max-width: $mobile) {

      }
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100%;
    }
  }

  &__section-header {
    position: relative;
    z-index: 1;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//======================================

.screen-02 {
  &__container {
    @media (min-width: $mobile) {
      min-height: 100%;
      display: flex;
      align-items: flex-start;
    }
  }

  &__content {
    flex: 0 1 50%;
    align-self: center;
    padding-top: toRem(50);
    padding-bottom: toRem(30);
    @media (min-width: $mobile) {
      padding-right: toRem(20);
      padding-bottom: toRem(50);
    }
  }

  &__image {
    flex: 0 1 50%;

    img {
      max-width: 100%;
    }
  }
}

//======================================

.screen-03 {
  &__container {
    @media (min-width: $mobile) {
      min-height: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__content {
    flex: 0 1 50%;
    align-self: center;
    padding-top: toRem(50);
    padding-bottom: toRem(30);
    @media (min-width: $mobile) {
      padding-bottom: toRem(50);
    }
  }

  &__image {
    flex: 0 1 50%;
    position: relative;

    img {
      max-width: 100%;

    }

    @media (min-width: $mobile) {
      @include adaptiveValue("left", -240, -15);
      padding-right: toRem(50);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  .values-screen-03 {
    @include adaptiveValue("padding-top", 120, 45);
    display: grid;
    @include adaptiveValue("gap", 76, 25);

    &__item {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      gap: toRem(15);
    }

    &__value {
      color: $darkColor;
      font-weight: 700;
    }

    &__line {
      grid-column: span 2;
      background: rgb(28, 31, 37, 0.1);

      span {
        display: block;
        height: toRem(10);
        background-color: $darkColor;
      }
    }
  }
}

//======================================

.screen-04 {
  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: toRem(50);
    padding-bottom: toRem(50);
  }

  &__section-header {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 153, 35)
    }
  }

  .advantages {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(toRem(220), 1fr));
    @include adaptiveValue("gap", 50, 25);

    &__icon {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 26, 10);
      }
    }

    &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 30, 20);
      font-size: toRem(30);
      line-height: math.div(38, 30);
      color: $darkColor;

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 32, 10);
      }
    }

    &__text {
      line-height: math.div(45, 25);
    }
  }
}

//======================================

.screen-05 {
  &__container {
    @media (min-width: $mobile) {
      min-height: 100%;
      display: flex;
    }
  }

  &__content {
    flex: 0 1 50%;
    align-self: center;
    padding-top: toRem(50);
    padding-bottom: toRem(30);
    @media (min-width: $mobile) {
      padding-right: toRem(20);
      padding-bottom: toRem(50);
    }
  }

  &__images {
    flex: 0 1 50%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    &__image-ibg{
    }
  }
}

//======================================



